.main {
    
    padding: 4rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 105pc;
}

.content {
    background-color: rgb(242, 242, 242);
    min-width: 50vh;
    text-align: center;
}

.grid {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 0.25fr 1fr 1fr;
    gap: 1em 1em;
    grid-auto-flow: row;
    grid-template-areas:
        'Name Name'
        'Image Details'
        'Description Description';
}

.name {
    grid-area: Name;
    text-align: center;
    margin: 0;
    line-height: 1.15;
    font-size: 2rem;
}

.image {
    grid-area: Image;
    text-align: right;
    margin-right: 5rem;
}

.details {
    grid-area: Details;
}

.description {
    grid-area: Description;
    margin: 4rem 0;
    line-height: 1.5;
    font-size: 1.5rem;
}

@media (max-width: 600px) {
    .grid {
        width: 100%;
        flex-direction: column;
    }
}
